@model OlxAd.Models.Users

@{
    ViewBag.Title = "Login";
}
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/App/app.js"></script>
<script src="~/App/Scripts/LoginController.js"></script>
<script src="~/App/Scripts/HomeController.js"></script>
<script src="~/App/Scripts/ViewAdsController.js"></script>
<script src="~/App/Scripts/Filter.js"></script>
<body >
    <div ng-view>


    </div>
</body>